node_modules/
package-lock.json
package.json
.env
PROJECT_VOTING_SYSTEM/Face_detection.ipynb
PROJECT_VOTING_SYSTEM/faceMonitor.py
PROJECT_VOTING_SYSTEM/webcam_face_detection.py
PROJECT_VOTING_SYSTEM/Required_Models_(2_7)/haarcascade_eye.xml